<!doctype html>
<html>
<head>
<title>Vulnerability Management</title>
<link rel="stylesheet" href="/css/common.css">
{{{_sections.css}}}

    <script src="/js/jquery.js" ></script>

    <script src="/js/common.js" ></script>
</head>
<body>
    {{!-- Menu --}}
    <div>
        <a href="/">Home</a> 
        | <a href="/list">List CVE</a>  
        | <a href="/importcve">Import</a> 
        | <a href="/login">Login</a> 
        | <a href="/about">About</a>
        | <a href="/admin">Admin</a>
    </div>

    <div>{{ title }}</div>
    <div>{{{body}}}</div>
    

    {{!-- Footer --}}
    <div>
        <br/>
        &copy; {{copyrightYear}}. Power by Anh. {{version}}

    </div>
    {{!-- Script area --}}
    {{{_sections.jquery}}}
    {{{_sections.jscript}}}
</body>
</html>