<!doctype html>
<html>
<head>
<title>Vulnerability Management</title>
<link rel="stylesheet" href="/css/common.css">
{{{_sections.css}}}

    <script src="/js/jquery.js" ></script>

    <script src="/js/common.js" ></script>
</head>
<body>
    {{!-- Menu --}}
    <div>
        <a href="/">Home</a> 
        | <a href="/list">List vulnerabilities</a>  
        | <a href="/projects">Project</a> 
        | <a href="/modules">Modules</a> 
        | <a href="/admin">Admin</a>
        | <a href="/about">About</a>
        | <a href="/login">Login</a> 
    </div>
    <hr/>
    {{!-- BODY --}}
    <h1>{{ title }}</h1>
    <div>{{{body}}}</div>
    

    {{!-- Footer --}}
    <hr/>
    <div>
        &copy; {{copyrightYear}}. Power by anhnh. {{version}}

    </div>
    {{!-- Script area --}}
    {{{_sections.jquery}}}
    {{{_sections.jscript}}}
</body>
</html>