Add Project
<div class="div_table">
  <div class="div_row">
      <div class="div_col_hdr">ID</div>
      <div class="div_col">
        <input type="text" readonly/>
        </div>

  </div>
  <div class="div_row">
      <div class="div_col_hdr">Name</div>
      <div class="div_col">
        <input type="text" list="prjname" id="txtName"/>
        <datalist id="prjname">
          {{#each projectname}}
          <option >{{this}}</option>
          {{/each}}
        </datalist>
        </div>

  </div>
  <div class="div_row">
      <div class="div_col_hdr">Market</div>
      <div class="div_col">
        <input type="text" list="market" id="txtMarket"/>
        <datalist id="market">
          {{#each markets}}
          <option >{{this}}</option>
          {{/each}}
        </datalist>
        </div>

  </div>

  <div class="div_row">
      <div class="div_col_hdr">Variant</div>
      <div class="div_col">
        <input type="text" list="variant" id="txtVariant"/>
        <datalist id="variant">
          {{#each variants}}
          <option >{{this}}</option>
          {{/each}}
        </datalist>
        </div>

  </div>
</div>

{{!-- List of project --}}
<div>
  <table>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Variant</td>
      <td>Market</td>
      <td>Action</td>
    </tr>
    {{#each projects}}
         
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{variant}}</td>
      <td>{{market}}</td>
      <td><a href="#">Edit</a> | <a href="#">Delete</a> | <a href="#">Copy</a></td>
    </tr> 
    {{/each}}
  </table>
</div>
{{#section 'jquery'}}
<script src="/js/addprj.js"></script>
{{/section}}

{{#section 'jscript'}}
<script>
  $(document).ready(function() {

     
});
</script>
{{/section}}

{{#section 'css'}}

{{/section}}