<h1>Vulnerabilities</h1>

<div class="vertical" >
<div>
    <div onclick="showHideToggle('divFilter')" class="panel">Filter</div>
<div id="divFilter" class="vertical" style="border-style: solid; padding:5px">
    <table>
        
        <tr>
            <td>Keyword</td>
            <td><input id="textKeyword" name="txtKeyword" type="text" placeholder="Name/CVE ID/Tag"/></td>

            {{!-- <td>Severity</td>
            <td>
                <select name="filterSeverity" id = "filterSeverity">
                    <option value="any">Any</option>
                    
                </select>
            </td> --}}
            <td>Project</td>
            <td>
                <select name="filterProject" id = "filterProject">
                    <option value="any">Any</option>
                    {{#each projects}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </td>
            <td>Module</td>
            <td>
                <select name="filterModule" id = "filterModule">
                    <option value="any">Any</option>
                    {{#each modules}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </td>
            <td>Import</td>
            <td>
                <select name="filterImport" id = "filterImport">
                    <option value="any">Any</option>
                    {{#each imports}}
                        <option value="{{importId}}">{{name}} ({{importIdShort}})</option>
                    {{/each}}
                </select>
            </td>
            {{!-- <td>Status</td>
            <td>
                <select name="filterStatus" id = "filterStatus">
                    <option value="any">Any</option>
                </select></td> --}}
            <td><button onclick="doFilter()">Filter</button></td>
        </tr>
    </table>
    
    

</div>
</div>


<div id="divQueryCondInfo" name="divQueryCondInfo" style="width:100%;table-layout: fixed;word-wrap: break-word;white-space: pre-line"></div>
 
<div id="divSearchInfo"></div>
 <div class="horizontal" style="padding-top:5px">
    {{!-- <span><b><u>Update for all CVEs</u></b></span> --}}
    <button onclick="showUpdateTagDlg(null)" style="width: auto;">Update Tags</button>
    <button onclick="showUpdateModuleDlg(null)" style="width: auto;">Update Modules</button>
    <button onclick="showUpdatePrjDlg(null)" style="width: auto;">Update Projects</button>
    <button onclick="showUpdateStatusDlg(null)" style="width: auto;">Update Status</button>
    
    {{!-- <table>
        
        <tr>
            <td>Project</td>
            <td><select name="opPrj" id = "opPrj" style="width: 80%;" multiple>
                <option value="none">None</option>
                {{#each projects}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            
                
            </td>
            <td><button onclick="setProjectForBulkVul()" style="width: auto;">Set</button></td>
            <td><button onclick="addProjectForBulkVul()" style="width: auto;">Add</button></td>
            <td><button onclick="delProjectForBulkVul()" style="width: auto;">Delete</button></td>
        </tr>
        <tr>
            <td></td>
            <td><button id="btnDeselectPrj" type="button" onclick="deselectAllPrj()">Deselect All</button></td>
            <td></td>
        </tr>
        <tr>
            <td>Modules</td>
            <td>    
                <input type="text" list="optmodules" id="txtModule" name="txtModule"  style="width: 80%;">
                <datalist id="optmodules" name="optmodules">
                {{#each modules}}
                        <option value="{{name}}"/>
                {{/each}}
                </datalist>
                <div id="divModule_container" class="tag-container"></div>
            </td>
            <td><button onclick="setModuleForBulkVul()" style="width: auto;">Set</button></td>
            <td><button onclick="addModuleForBulkVul()" style="width: auto;">Add</button></td>
            <td><button onclick="deleteModuleForBulkVul()" style="width: auto;">Delete</button></td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>    
                <input type="text" list="optTags" id="txtTags" name="txtTags"  style="width: 80%;">
                <datalist id="txtTags" name="txtTags">
                {{#each tags}}
                        <option value="{{name}}"/>
                {{/each}}
                </datalist>
                <div id="divTag_container" class="tag-container"></div>
            </td>
            <td><button onclick="setTagForBulkVul()" style="width: auto;">Set</button></td>
            <td><button onclick="addTagForBulkVul()" style="width: auto;">Add</button></td>
            <td><button onclick="delTagForBulkVul()" style="width: auto;">Delete</button></td>

        <tr>
            <td>Vul Status</td>
            <td><select name="optStatus" id = "optStatus" style="width: 80%;">
                {{#each status}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            
                
            </td>
            <td><button onclick="setStatusForBulkVul()" style="width: auto;">Set</button></td>
            
        </tr>


        <tr>
            <td>Vul Status for Project</td>
            <td><select name="optPrjStatus" id = "optPrjStatus" style="width: 80%;">
                {{#each vulstatus}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            
                
            </td>
            <td><button onclick="setVulPrjStatusForBulkVul()" style="width: auto;">Set</button></td>
        </tr>
    </table> --}}
    
</div>
   
   {{!-- Result --}}
   <div>
<table border="1" id = "tblCVE" style="width:100%;table-layout: fixed;word-wrap: break-word;white-space: pre-line">
    <colgroup>
    <col style="width:3%"/>
    <col style="width:3%"/>
    <col style="width:10%"/>
    <col style="width:10%"/>
    <col style="width:25%"/>
    {{!-- <col /> --}}
    <col style="width:15%"/>
    <col/>
    <col/>
    <col/>
    <col/>
  </colgroup>

    <tr>
        <th><input type="checkbox" onclick="onSelectAll(this)"/></th>
        <th>No</th>
        <th>Vul ID</th>
        <th>CVE ID</th>
        <th>CVE Title</th>
        {{!-- <th>Source</th> --}}
        <th>Ref</th>
        <th>Tag</th>
        <th>Module</th>
        <th>Project</th>
        <th>ImportId</th>
        <th>Status</th>
        
    </tr>
    <tbody id='tbodyCVE'>
        </tbody>


</table>

<div id="divPage"></div>
</div>
</div>
<div id="dlgUpdateTags" style="display:none;padding: .3em;">
    <span id="txtDescTags"></span>
    <label for="txtTag">Tag</label>
    <input type="text" list="opttags" id="txtTags" name="txtTags" >
    <datalist id="opttags" name="opttags">
          {{#each tags}}
              <option value="{{this}}"/>
          {{/each}}
    </datalist>
    <div id="divTag_container" class="tag-container"></div>
    <span style="word-wrap: break-word;white-space: pre-line">Input, press Enter to adding to list. Click to item to delete.
        Add: Append new ones
        Set: Delete old ones and add new ones.
        Delete: Delete selected ones
    </span>
</div>
<div id="dlgUpdateModules" style="display:none;padding: .3em;">
    <span id="txtDescModules"></span>
    <label for="txtModule">Module</label>
    <input type="text" list="optmodules" id="txtModule" name="txtModule"  style="width: 80%;">
    <datalist id="optmodules" name="optmodules">
    {{#each modules}}
            <option value="{{name}}"/>
    {{/each}}
    </datalist>
    <div id="divModule_container" class="tag-container"></div>
    <span style="word-wrap: break-word;white-space: pre-line">Input, press Enter to adding to list. Click to item to delete.
        Add: Append new ones
        Set: Delete old ones and add new ones.
        Delete: Delete selected ones
    </span>
</div>
<div id="dlgUpdateProject" style="display:none;padding: .3em;">
    <span id="txtDescProject"></span>
    <label for="opPrj">Project</label>
    <select name="opPrj" id = "opPrj" style="width: 80%;" multiple>
        
        {{#each projects}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <label for="optPrjStatus">Status</label>
        <select name="optPrjStatus" id = "optPrjStatus" style="width: 80%;">
            <option value="none">NONE</option>
            {{#each vulstatus}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    <span style="word-wrap: break-word;white-space: pre-line">
        Add: Append new ones
        Set: Delete old ones and add new ones.
        Delete: Delete selected ones
    </span>
    <button id="btnDeselectPrj" type="button" onclick="deselectAllPrj()">Deselect All</button>
</div>
<div id="dlgUpdateStatus" style="display:none;padding: .3em;">
    <span id="txtDescStatus"></span>
    <label for="optStatus">Status</label>
    <select name="optStatus" id = "optStatus" style="width: 80%;">
        <option value="none">NONE</option>
        {{#each status}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    
</div>


<div id="dlgInfo" style="display:none;padding: .3em;">
  <span id="spanInfo"></span>  
</div>
{{#section 'jquery'}}
<script type="text/javascript" src="/js/admin_vullist.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/css/admin_vullist.css"></script>
<link rel="stylesheet" href="/css/jquery-ui.css"></script>
<link rel="stylesheet" href="/css/tags.css"></script>
{{/section}}