CVE INFORMATION: {{vul_id}}

<div id="divContent">
  {{#if found}}
  <table  border="1" name = "tblPrj" style="border: 1px;table-layout: fixed;word-wrap: break-word;white-space: pre-line">
    <colgroup>
    <col style="width:10%"/>
    <col/>
  </colgroup>

  <tr>
    <td>ID</td>
    <td>{{id}}</td>
  </tr>
  <tr>
    <td>Vul ID</td>
    <td>{{vul_id}}</td>
  </tr>
  <tr>
    <td>CVE ID</td>
    <td>{{cve_id}}</td>
  </tr>
  <tr>
    <td>Desc</td>
    <td>{{desc}}</td>
  </tr>
  <tr>
    <td>Importer</td>
    <td><a href="importcve?id={{importId}}" target="_blank" rel="noopener noreferrer">{{importId}}</a></td>
  </tr>
  <tr>
    <td>Added</td>
    <td>{{addedDate}}</td>
  </tr>
  <tr>
    <td>Last Modified</td>
    <td>{{lastModified}}</td>
  </tr>
  <tr>
    <td>baseScore</td>
    <td>{{baseScore}}</td>
  </tr>
  <tr>
    <td>impactScore</td>
    <td>{{impactScore}}</td>
  </tr>
  <tr>
    <td>vectorString</td>
    <td>{{vectorString}}</td>
  </tr>
  <tr>
    <td>vectorAttack</td>
    <td>{{vectorAttack}}</td>
  </tr>
  <tr>
    <td>severity</td>
    <td>{{severity}}</td>
  </tr>
  <tr>
    <td>Tag</td>
    <td>
        {{#each tag}}{{.}}
        {{/each}}
    </td>
  </tr>
  <tr>
    <td>Ref</td>
    <td>
        {{#each ref}}
            {{.}}
        {{/each}}
    </td>
  </tr>
  <tr>
    <td>Project</td>
    <td>
        {{#each projects}}<a href="prj?id={{id}}" target="_blank" rel="noopener noreferrer">{{name}}</a>
        {{/each}}
    </td>
  </tr>
  <tr>
    <td>Module</td>
    <td>
        {{#each modules}}<a href="module?id={{id}}" target="_blank" rel="noopener noreferrer">{{name}}
          {{!-- {{#each versions}} {{.}}
          {{/each}}</a> --}}
        {{/each}}
    </td>
  </tr>
  <tr>
    <td>History</td>
    <td>{{history}}</td>
  </tr>
  </table>

  {{else}}
  <span>{{msg}}</span>
  {{/if}}

{{#section 'jquery'}}
{{!-- <script type="text/javascript" src="/js/editprj.js"></script> --}}
{{/section}}

{{#section 'jscript'}}
<script>
</script>
{{/section}}

{{#section 'css'}}

{{!-- <link rel="stylesheet" href="/css/editprj.css"></script> --}}
{{/section}}