<h1>Vulnerabilities</h1>


<div>
    <div onclick="showHideToggle('divFilter')" class="panel">Filter | search</div>
<div id="divFilter" class="vertical" style="border-style: solid;">
    <table>
        {{!-- <tr>
            <td>Keyword</td>
            <td><input id="textKeyword" name="txtKeyword" type="text" placeholder="Keywords"/></td>
            <td>In</td>
            <td>
                <select name="searchIn" id = "searchIn">
                    <option value="cve">CVE</option>
                    <option value="prj">Project</option>
                    <option value="mod">Module</option>
                </select>
            </td>
            <td>
                Field
            </td>
            <td>
                <select name="searchField" id = "searchField">
                    <option value="name">Name/Description</option>
                    <option value="tag">Tag</option>
                    <option value="vulid">Vulnerabilities ID</option>
                    <option value="id">ID</option>
                </select>

            </td>
            <td><button onclick="doSearch()">Search</button></td>
        </tr> --}}
        <tr>
            <td>Keyword</td>
            <td><input id="textKeyword" name="txtKeyword" type="text" placeholder="Name/CVE ID/Tag"/></td>

            <td>Project</td>
            <td>
                <select name="filterProject" id = "filterProject">
                    <option value="any">Any</option>
                    {{#each projects}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </td>
            <td>Module</td>
            <td>
                <select name="filterModule" id = "filterModule">
                    <option value="any">Any</option>
                    {{#each modules}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </td>
            <td>Status</td>
            <td>
                <select name="filterStatus" id = "filterStatus">
                    <option value="any">Any</option>
                </select></td>
            <td><button onclick="doFilter()">Filter</button></td>
        </tr>
        {{!-- <tr>
            <td>Per page</td>
            <td>
            <select name="perpage" id = "perpage">
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="50">100</option>
                </select>

            </td>
        </tr> --}}
    </table>
    {{!-- <div class="horizontal">
    
    <div><label>Keyword</label><input type="text" placeholder="Keywords"/></div>
    <div>    
        <label>In</label>
        <select name="searchIn" id = "searchIn">
        <option value="any">Any</option>
        <option value="prj">Project</option>
        <option value="mod">Module</option>
        <option value="tag">Tags</option>
    </select>
    </div>
    <div>   
         <label>Field</label>
        <select name="searchIn" id = "searchIn">
        <option value="any">Any</option>
        <option value="id">ID</option>
        <option value="name">Name</option>
    </select>
    </div>
    <div><button onclick="doSearch()">Search</button></div>
    </div> --}}

    {{!-- <div class="horizontal">
        <div>
    <label>Project</label>
    <select name="filterProject" id = "filterProject">
        <option value="any">Any</option>
        {{#each projects}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
        </div>
        <div>
    <label>Module</label>
    <select name="filterProject" id = "filterProject">
        <option value="any">Any</option>
        {{#each modules}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
        </div>
    <div><button onclick="doFilter()">Filter</button></div>
    </div>
    <div class="horizontal">
    <label>Per page</label>
    <select name="perpage" id = "perpage">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="50">100</option>
    </select>
    </div> --}}
    
    

</div>
</div>

<div>
    {{!-- Result --}}
<table border="1" id = "tblCVE" style="width:100%;table-layout: fixed;word-wrap: break-word;white-space: pre-line">
    <colgroup>
    <col style="width:3%"/>
    <col style="width:10%"/>
    <col style="width:10%"/>
    <col style="width:40%"/>
    <col />
    <col style="width:20%"/>
    <col/>
    <col/>
  </colgroup>

<tr>
    <th>No</th>
    <th>Vul ID</th>
    <th>CVE ID</th>
    <th>CVE Title</th>
    <th>Source</th>
    <th>Ref</th>
    <th>Tag</th>
    <th>Module</th>
    <th>Project</th>
</tr>
<tbody id='tbodyCVE'>
    </tbody>
<div id="divPage">
</div>

</table>
</div>

{{#section 'jquery'}}
<script type="text/javascript" src="/js/listcve.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/css/listcve.css"></script>
<link rel="stylesheet" href="/css/jquery-ui.css"></script>
{{/section}}