<h1>Import Vulnerabilities</h1>

<span>Import Vulnerabilities to server. Data source can be NIST, MITRE, CSV, EXCEL, etc.</span>

<div>
<form id="uploadForm"
         enctype="multipart/form-data"
         method="post"
         >
    <table>
            <colgroup>
            
            <col style="width:10%"/>
            <col style="width:50%"/>
            <col/>
            
        </colgroup>

        <tr>
            <td>File</td>
            <td style="width: 50%;"><input type="file" name="importFile" /></td>
            <td></td>
        </tr>
        
        <tr>
            <td>File Type</td>
            <td><select name="opSource" id = "opSource" style="width: 80%;">
                {{#each sources}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            </td>
            <td><span>Must match with uploaded file</span></td>
        </tr>

        <tr>
            <td>Title/Remark</td>
            <td>    
                <input type="text" id="txtTitle" name="txtTitle"  style="width: 80%;">
            </td>
            <td></td>
        </tr>

        <tr>
            <td>Project</td>
            <td><select name="opPrj" id = "opPrj" style="width: 80%;" multiple>
                <option value="none">None</option>
                {{#each projects}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            
                
            </td>
            <td>Select Projects that those Vulnerabilities belongs to</td>
        </tr>
        <tr>
            <td></td>
            <td><button id="btnDeselectPrj" type="button" onclick="deselectAllPrj()">Deselect All</button></td>
            <td></td>
        </tr>
        <tr>
            <td>Modules</td>
            <td>    
                <input type="text" list="optmodules" id="txtModule" name="txtModule"  style="width: 80%;">
                <datalist id="optmodules" name="optmodules">
                {{#each modules}}
                        <option value="{{name}}"/>
                {{/each}}
                </datalist>
                <div id="divModule_container" class="tag-container"></div>
            </td>
            <td>Add module of cves if need (name[:version], i.e openssl, libc:1.2)</td>
        </tr>
    </table>

    <input type="submit" value="Import" name="submit"/>

</form>
<div id = "divStatus"> ...</div>
<div id = "divInfo"  style="border: 1px;table-layout: fixed;word-wrap: break-word;white-space: pre-line"> </div>
</div>
{{#section 'jquery'}}
<script src="/js/jquery.form.min.js"></script>
<script src="/js/importcve.js"></script>
{{/section}}

{{#section 'jscript'}}
<script>

</script>
{{/section}}


{{#section 'css'}}
<link rel="stylesheet" href="/css/importcve.css"></script>
<link rel="stylesheet" href="/css/jquery-ui.css"></script>
<link rel="stylesheet" href="/css/tags.css"></script>
{{/section}}