IMPORT INFORMATION

<div id="divPrjs">
<table  border="1" name = "tblPrj" style="border: 1px;table-layout: fixed;word-wrap: break-word;white-space: pre-line">
<tr>
  <td>Import ID</td>
  <td>{{importId}}</td>
</tr>
<tr>
  <td>Source</td>
  <td>{{source}}</td>
</tr>
<tr>
  <td>Create Date</td>
  <td>{{createDate}}</td>
</tr>
<tr>
  <td>Working Dir</td>
  <td>{{workingDir}}</td>
</tr>
<tr>
  <td>Import Status</td>
  <td>{{importStatus}}</td>
</tr>
  <td>Summarize</td>
  <td>{{summarize}}</td>
</tr>
<tr>
  <td>Download</td>
  <td><a href='importcve?id={{importId}}&download=vulinfo' target="_blank" rel="noopener noreferrer">Download Imported Vul status</a></td>
</tr>
</table>
{{#section 'jquery'}}
{{!-- <script type="text/javascript" src="/js/editprj.js"></script> --}}
{{/section}}

{{#section 'jscript'}}
<script>
</script>
{{/section}}

{{#section 'css'}}

{{!-- <link rel="stylesheet" href="/css/editprj.css"></script> --}}
{{/section}}